.up_side {
    width: 43px;
    text-align: center;
    padding-left: 58px;
}
.middle_side {
    height: 70px;
}
.middle_side > div {
    float: left;
    width: 43px;
    text-align: center;
    margin: 5px;
}
.down_side {
    width: 43px;
    text-align: center;
    padding-left: 58px;
}
.input_alltexts {
    background-color: rgb(255, 239, 147);
    width: 250px;
    height: 20px;
    padding-left: 10px;
    line-height: 24px;
}
.input_text {
    color: red;
}
